/* HEADER SECTION */
.custom-header {
  position: absolute;
  z-index: 999;
  width: 100%;
}
.custom-header .container-fluid {
  max-width: 1780px;
}
.custom-header .navbar {
  padding: 0;
}
.sw-brand {
  /* background-color: var(--c-secondary); */
  position: relative;
}
/* .sw-brand::after {
  content: '';
  position: absolute;
  left: -4000px;
  height: 100%;
  width: 4000px;
  background-color: var(--c-secondary);
  top: 0;
} */
.navbar-brand img {
  padding: 20px 92px 20px 20px;
}
.custom-navbar-right {
  display: flex;
  align-items: center;
}
/* .custom-navbar-tel  {
  display: flex;
}
.custom-navbar-tel p {
  margin-right: 60px;
  color: var(--tc-beige);
  font-family: var(--ff-tertiary);
  font-size: 21px;
  font-weight: 400;
}
.custom-navbar-tel span {
  padding-right: 15px;
} */
.custom-navbar-toggle .icon-bar-wrap {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.navbar-toggler .icon-bar { 
  width: 36px;
  height: 3px; 
  background-color: var(--c-black-900);
  transition: .5s ease;
}
.offcanvas {
  background-color: var(--c-secondary);
}
.navbar-toggler.toggle-wrap {
  height: 16px;
}
.custom-navbar-toggle:not(.toggle-wrap) .icon-bar {
  margin-right: 0px;
}
.custom-navbar-toggle.toggle-wrap .icon-bar {
  background-color: var(--c-white-900);
  width: 36px !important;
}
/* .custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(1)  {
  width: 30px;
} */
/* .custom-navbar-toggle .icon-bar:nth-child(2)  {
  width: 41px;
} */
.custom-navbar-toggle .icon-bar:nth-child(3)  {
  width: 24px;
}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(1){
  transform: rotate(-45deg) translateY(5px) translateX(-5px);
}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(2){
  opacity: 0
}
.custom-navbar-toggle.toggle-wrap .icon-bar:nth-child(3){
  transform:rotate(45deg) translateY(-5px) translateX(-4px);
}

.custom-navbar-right .offcanvas {
  width: 100%;
}
.custom-navbar-right .offcanvas-body {
  flex-grow: unset;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
.custom-navbar-right .offcanvas-body .navbar-nav .nav-item  .nav-link {
  padding-right: 0;
  padding-left: 0;
  font-size: 36px;
  font-family: var(--ff-secondary);
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}
.custom-navbar-right .offcanvas-body .navbar-nav .nav-item:last-child  .nav-link  {
  margin-bottom: 0;
}
.custom-navbar-right .nav-item{
  position: relative;
  margin-bottom: 15px;
}
.custom-navbar-right .nav-item::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--c-primary);
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  transition: all 0.5s ease-in-out;
}
.custom-navbar-right .nav-item:hover::after {
  width: 100%;
}
.custom-navbar-toggle-wrap {
  align-items: center;
  display: flex;
  gap: 0 20px;
}
.custom-navbar-toggle {
  margin: 0px;
  padding: 0px;
  border-radius: 0;
  z-index: 9999;
  padding-left: 55px;
  display: flex;
  align-items: center;
  line-height: 26px;
  gap: 0 20px;
  justify-content: center;
  position: relative;
}
.custom-navbar-toggle:focus {
  box-shadow: none;
}
.custom-navbar-toggle::before {
  content: '';
  width: 1px;
  height: 56px;
  position: absolute;
  background-color: var(--c-white-750);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.custom-navbar-toggle.toggle-wrap::before {
  display: none;
}
.custom-navbar-toggle .button-text {
  display: inline-block;
  color: var(--c-black-700);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 0 1px;
}
.custom-navbar-toggle.toggle-wrap .button-text {
  visibility: hidden;
}
.lang-select-option {
  margin: 0 40px 0 56px;  
}
.lang-select-option .form-select {
  border: none;
  font-family: var(--ff-primary);
  font-size: 15px;
  font-weight: 500;
  color: var(--c-grey-500);
  padding: 0 32px 0 10px;
  position: relative;
}
.lang-select-option .form-select:focus, 
.lang-select-option .form-select:focus-visible,
.lang-select-option .form-select:visited {
  box-shadow: none;
  text-decoration: none;
  text-shadow: none;
}

/* Footer */
.custom-footer {
  background-color: var(--c-black-800);
  padding: 145px 0 60px;
}
.custom-footer .custom-heading .heading {
  color: var(--c-white-900);
}
.custom-footer-top {
  padding: 50px 0 115px;
}
.custom-footer-top .footer-col {
  display: flex;
  margin: 0;
}
.custom-footer-top .footer-col:first-child {
  flex-direction: column;
  width: 30%;
  margin: 0;
}
.custom-footer-top .footer-button {
  margin: 0;
}
.custom-footer-top .footer-col p, .custom-footer-top .footer-col .footer-list li {
  color: var(--c-white-750);
  font-family: var(--ff-secondary);
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
}
.custom-footer-top .footer-col .footer-list li {
  line-height: 45px;
}
.custom-footer-top .footer-col:last-child li:not(:last-child) {
  line-height: 32px;
  padding-bottom: 25px;
}
.custom-footer-top .footer-col .footer-list li .footer-link {
  color: var(--c-white-750);
}
.custom-footer-top .footer-col .custom-button {
  margin: 60px 0 0;
}

.custom-footer-bottom {
  position: relative;
  padding-top: 64px;
  border-top: 2px solid var(--c-white-900);
}
.custom-footer-bottom .footer-licenses {
  gap: 35px;
}
.custom-footer-bottom .footer-copyright p {
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--c-white-900);
  font-size: 16px;
  line-height: 52px;
  text-transform: capitalize;
}
.custom-footer-bottom .footer-socials {
  gap: 18px;
}
.custom-footer-bottom .footer-socials li a  {
  display: block;
}
.custom-footer-bottom .footer-socials li a span {
  display: inline-flex;
  width: 55px;
  height: 55px;
  border: 2px solid var(--c-tertiary);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--c-white-900);
  font-size: 24px;
  transition: all 0.5s ease-in-out;
}
.custom-footer-bottom .footer-socials li a:hover span  {
  background-color: var(--c-tertiary);
}

/* Get In Touch */
.custom-get-in-touch .form-top-wrap {
  padding-inline: 28px;
}
.custom-get-in-touch .heading-text p {
  font-family: var(--ff-secondary);
  font-weight: 300;
  color: var(--c-black-500);
  font-size: 16px;
  line-height: 36px;
  margin-top: 26px; 
}
.custom-get-in-touch-form [class*="col-"]:first-child {
  padding-right: 74px;
}
.custom-get-in-touch-form [class*="col-"]:nth-child(2) {
  padding-left: 74px;
}
.custom-get-in-touch .custom-get-in-touch-form {
  padding: 85px 28px 0;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-label {
  font-size: 27px;
  font-family: var(--ff-primary);
  font-weight: 500;
  line-height: 52px;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-select {
  border: none;
  border-bottom: 1px solid var(--c-black-900);
  border-radius: 0;
  padding-left: 3px;
  color: var(--c-tertiary);
  font-size: 19px;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-select:focus,
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-control:focus {
  box-shadow: none;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-control {
  border: none;
  border-bottom: 1px solid var(--c-black-900);
  border-radius: 0;
  padding-left: 0;
  padding-bottom: 12px;
  margin-bottom: 28px;
  font-size: 19px;
  font-weight: 500;
  color: var(--c-black-700);
  font-family: var(--ff-primary);
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-control::placeholder {
  color: var(--c-black-900);
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group textarea.form-control {
  height: 140px;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group.form-check {
  padding-bottom: 46px;
  padding-top: 20px;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-check-label {
  font-family: var(--ff-primary);
  font-weight: 400;
  font-size: 17px;
  line-height: 27px;
}
.custom-get-in-touch .custom-get-in-touch-form .custom-form-group .form-check-input[type="checkbox"] {
  border-radius: 0;
}
.custom-get-in-touch .custom-get-in-touch-form .form-button.custom-form-group .custom-button {
  padding-inline: 66px;
}

/* CALL TO ACTION */
.custom-cta {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.custom-cta-content .custom-heading .heading {
  font-size: 40px;
  color: var(--c-white-900);
  margin-bottom: 58px;
}

/* TESTIMONIAL SECTION */
.testimonial-content {
  padding-top: 78px;
}
.custom-tes-item {
  width: 370px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.custom-tes-item:hover .tes-card-content {
  box-shadow: 14px 14px 14px #f0f0f08f;
  border-color: transparent;
  transform: translate(0, -6px);
}
.tes-card-content {
  background-color: var(--c-white-900);
  border: 1px solid var(--c-white-700);
  height: 352px;
  display: flex;
  flex-direction: column;
  align-content: baseline;
  justify-content: flex-end;
  padding: 0 35px 50px 45px;
  position: relative;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.tes-card-content::before {
  content: '';
  background-image: url(../images/tes-quotes.png);
  display: inline-block;
  position: absolute;
  width: 38px;
  background-size: contain;
  height: 32px;
  background-repeat: no-repeat;
  top: 50px;
  left: 45px;
}
.tes-card-content::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 16px solid var(--c-white-900);
  border-right: 32px solid transparent;
  bottom: -12px;
}
.exclamation-remark {
  margin: 0 0 33px 0;
}
.exclamation-remark h5 {
  font-weight: 500;
  color: var(--c-secondary);
  line-height: 34px;
  font-size: 26px;
}
.remark p {
  font-size: 15px;
  line-height: 30px;
}
.tes-client-content  {
  margin-top: 30px;
}
.tes-client-name .client-name {
  font-weight: 500;
  color: var(--c-black-600);
  font-size: 17px;
  line-height: 22px;
}
.tes-client-name .client-designation {
  display: inline-block;
  font-size: 12px;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--c-black-600);
  line-height: 16px;
}



@media (min-width: 1920px) and (max-width: 2500px){}

@media (min-width: 1600px) and (max-width: 1920px){}

@media (min-width: 1200px) and (max-width: 1600px){}

@media (min-width: 1024px) and (max-width: 1200px){}

@media (min-width: 992px) and (max-width: 1024px) {}

@media only screen and (max-width: 991.98px) {
/*  */
.custom-heading .heading {font-size: 36px;line-height: 55px;}

  .custom-footer {padding: 60px 0 20px;}
  .custom-footer-top {padding: 40px 0 40px;}
  .custom-footer-top .footer-col:first-child {width: 100%;text-align: center;}
  .custom-footer-top .footer-col .custom-button {margin: 25px 0 35px;}
  .custom-footer-bottom {flex-direction: column;border-top: none;padding-top: 0;}
  .custom-footer-bottom .footer-licenses {order: 1;padding-bottom: 30px;}
  .custom-footer-bottom .footer-socials {order: 2;}
  .custom-footer-bottom .footer-copyright {order: 3;padding-top: 20px;border-top: 1px solid var(--c-white-900);width: 100%;text-align: center;}
}

@media (max-width: 767.98px){}

@media (max-width: 575.98px){}

@media only screen and (max-width: 480.98px) {}