/*Contact-inner-page-Supriyo*/
.form-top-wrap.contact-inner {
text-align: center;
}
/*Contact-inner-page-Supriyo*/
/*Testimonial-inner-start-supriyo*/
.custom-testimonial.inner-testimonial.custom-pad {
padding-bottom: 150px;
}
.custom-testimonial.inner-testimonial .testimonial-content .custom-tes-item {
width: unset;
}
.custom-testimonial.inner-testimonial .testimonial-content {
padding-top: 0 !important;
}
/*Testimonial-inner-end-supriyo*/
/*Business-packages-inner-start-supriyo*/
.business-about-box {
min-height: 470px;
padding: 80px 45px;
background-color: var(--c-white-900);
box-shadow: 0 0 20px rgba(0,0,0,0.2);
border-radius: 10px;
}
.business-about-box-content .demo {
font-family: var(--ff-secondary);
font-size: 15px;
font-weight: 400;
line-height: 30px;
padding-top: 45px;
color: var(--c-grey-500);
}
.business-about-box-content h4 {
font-family: var(--ff-primary);
font-size: 22px;
font-weight: 500;
color: var(--c-secondary);
padding-top: 45px;
}
.buisness-counter.custom-pad {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.count-number-and-unit.secondary-font {
color: #fff;
}
.counter-content ul li {
display: inline-block;
vertical-align: middle;
}
.counter-content ul li:last-child {
padding-left: 25px;
}
.counter-content  .count-number-and-unit.secondary-font {
color: var(--c-white-900);
font-family: var(--ff-primary);
font-size: 45px;
font-weight: 700;
}
.counter-content   h6 {
font-family: var(--ff-primary);
font-size: 15px;
font-weight: 400;
color: var(--c-white-700);
}
.shopping-experience-img-box-1 img {
width: 75%;
object-fit: cover;
border-radius: 10px;
height: 580px;
object-position: 38% 100%;
}
.shopping-experience-img-box-2 img {
width: 35%;
object-fit: cover;
border-radius: 10px;
height: 265px;
object-position: 35% 100%;
position: absolute;
right: 60px;
bottom: -80px;
}
.shopping-experience-img {
position: relative;
}
.shopping-experience-content .demo {
font-family: var(--ff-secondary);
font-size: 18px;
font-weight: 400;
line-height: 41px;
padding-top: 45px;
color: var(--c-grey-500);
}
.shopping-experience.custom-pad {
padding: 150px 0 230px 0;
}
.easy-steps.custom-pad .custom-heading {
text-align: center;
}
.easy-steps.custom-pad .demo {
text-align: center;
}
.easy-steps-img {
background-color: var(--c-primary);
display: inline-block;
border-radius: 100px;
padding: 40px;
text-align: center;
}
.easy-steps-wrap {
text-align: center;
border: 1px dashed var(--c-primary);
display: inline-block;
padding: 10px;
border-radius: 170px;
position: relative;
}
.numbers h4 {
position: absolute;
background-color: var(--c-tertiary);
border-radius: 70px;
height: 45px;
width: 45px;
line-height: 45px;
top: 0;
right: 0;
font-family: var(--ff-primary);
font-size: 23px;
font-weight: 600;
color:var(--c-white-900);
}
.easy-steps-round {
text-align: center;
margin-top: 90px;
}
.easy-steps-round h5 {
font-family: var(--ff-primary);
font-size: 21px;
font-weight: 500;
color: var(--c-secondary);
margin-top: 20px;
}
.easy-steps.custom-pad .demo {
text-align: center;
font-size: 16px;
color: var(--c-black-600);
line-height: 33px;
font-weight: 400;
padding: 0 280px;
margin-top: 60px;
}
.price-wrap {
text-align: center;
margin-top: 190px;
}
.price-box {
min-height: 800px;
border-radius: 10px;
box-shadow: 0 0 20px rgba(0,0,0,0.1);
overflow: hidden;
padding: 0 0 40px 0;
background-color: #f6f6f6;
}
.price-section ul li {
display: inline-block;
font-family: var(--ff-primary);
color: var(--c-white-900);
font-size: 13px;
font-weight: 400;
}
.price-section ul li h2 {
font-size: 65px;
font-weight: 700;
}
.price-section-2 h4 {
font-family: var(--ff-primary);
color: var(--c-white-900);
font-size: 18px;
font-weight: 400;
margin-top: 20px;
}
.price-section-2 h4 span {
font-size: 13px;
font-weight: 400;
}
.top-price-box {
background-color: var(--c-secondary);
padding: 60px 0px 80px;
}
.price-box-content ul {
min-height: 500px;
padding: 0 30px;
}
.price-box-content ul li {
font-family: var(--ff-secondary);
font-size: 14px;
font-weight: 300;
line-height: 30px;
color: var(--c-grey-500);
padding-top: 20px;
}
.web-plan.custom-pad .custom-heading {
text-align: center;
}
.price-button {
margin-top: 20px;
}
.all-plans-content-wrap {
display: flex;
align-items: center;
justify-content: center;
margin-top: 60px;
}
.all-plan-box {
text-align: center;
width: 19%;
padding: 0px 10px;
box-shadow: 0 0 15px rgba(0,0,0,0.2);
min-height: 290px;
border-radius: 10px;
background-color: var(--c-white-900);
transform: scale(1);
transition: all 0.3s ease-in-out;
}
.all-plan-box:hover {
transform: scale(1.05);
cursor:pointer;
}
.all-plans-content-wrap-2 {
display: flex;
align-items: center;
justify-content: center;
margin-top: 20px;
}
.all-plans-content h4 {
font-family: var(--ff-primary);
font-size: 17px;
font-weight: 600;
color: var(--c-secondary);
margin-top: 50px;
line-height: 24px;
}
.all-plans-content {
padding: 50px 10px;
}
.all-plans.custom-pad .custom-heading {
text-align: center;
}
.all-plans-content img {
height: 60px;
transition: all 0.3s ease-in-out;
}
.all-plan-box:hover .all-plans-content img {
height: 70px;
cursor: pointer;
}
.all-plans.custom-pad {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.bottom-price-box {
position: relative;
}
.bottom-price-box::after {
position: absolute;
content: '';
background-image: url(../images/price-box-bg.webp);
top: -50px;
left: 0;
width: 100%;
height: 100px;
background-repeat: no-repeat;
}
.inner-price-content [class*="col-"]:nth-child(2) {
transform: scale(1.13);
margin-top: -136px;
z-index: 1;
}

/*Business-packages-inner-end-supriyo*/
/*Inner-page-Responsive-start*/
@media (min-width: 1920px) and (max-width: 2500px){

}

@media (min-width: 1600px) and (max-width: 1920px){

}

@media (min-width: 1366px) and (max-width: 1600px){
/*Business-packages-inner-fdev-sg*/
.counter-content .count-number-and-unit.secondary-font {font-size: 40px;}
.shopping-experience-content .demo {font-size: 16px;}
.shopping-experience.custom-pad {padding: 800px 0 150px 0;}
/*Business-packages-inner-fdev-sg*/
}

@media (min-width: 1200px) and (max-width: 1366px){
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 100px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.counter-content .count-number-and-unit.secondary-font {font-size: 34px;}
.shopping-experience-content .demo {font-size: 16px;}
.business-about-box {min-height: 500px;}
.easy-steps.custom-pad .demo {margin-top: 40px;}
.easy-steps-round {margin-top: 60px;}
.shopping-experience-content .demo {padding-top: 35px;}
.all-plan-box {min-height: 310px;}
.all-plan-box:hover .all-plans-content img {height: 65px;}
.shopping-experience.custom-pad {padding: 80px 0 150px 0;}
.shopping-experience-img-box-2 img {height: 205px;}
.easy-steps.custom-pad .demo {padding: 0px 200px;}
/*Business-packages-inner-fdev-sg*/
}
@media (min-width: 1024px) and (max-width: 1200px){
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 100px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.counter-content .count-number-and-unit.secondary-font {font-size: 30px;}
.shopping-experience-content .demo {font-size: 16px;}
.easy-steps.custom-pad .demo {margin-top: 40px;}
.easy-steps-round {margin-top: 60px;}
.shopping-experience-content .demo {padding-top: 35px;font-size: 14px;line-height: 36px;}
.all-plan-box {min-height: 310px;}
.all-plan-box:hover .all-plans-content img {height: 65px;}
.shopping-experience.custom-pad {padding: 80px 0 150px 0;}
.shopping-experience-img-box-2 img {height: 205px;}
.business-about-box {padding: 60px 25px;min-height: 450px;}
.counter-content ul li img {height: 30px;}
.shopping-experience-img-box-1 img {width: 85%;}
.shopping-experience-img-box-2 img {width: 40%;right: 0px;}
.business-about-box-content .demo {line-height: 30px;padding-top: 25px;font-size: 14px;}
.all-plans-content h4 {margin-top: 50px;}
.easy-steps.custom-pad .demo {padding: 0px 100px;}
.easy-steps-round h5 {font-size: 19px;}
.all-plans-content-wrap {margin-top: 40px;}
/*Business-packages-inner-fdev-sg*/
}

@media (min-width: 992px) and (max-width: 1024px) {
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 100px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.counter-content .count-number-and-unit.secondary-font {font-size: 30px;}
.shopping-experience-content .demo {font-size: 16px;}
.easy-steps.custom-pad .demo {margin-top: 30px;font-size: 15px;line-height: 30px;}
.easy-steps-round {margin-top: 60px;}
.shopping-experience-content .demo {padding-top: 35px;font-size: 14px;line-height: 36px;}
.all-plan-box {min-height: 310px;}
.all-plan-box:hover .all-plans-content img {height: 65px;}
.shopping-experience.custom-pad {padding: 80px 0 150px 0;}
.shopping-experience-img-box-2 img {height: 205px;}
.business-about-box {padding: 60px 25px;min-height: 450px;}
.counter-content ul li img {height: 30px;}
.shopping-experience-img-box-1 img {width: 85%;}
.shopping-experience-img-box-2 img {width: 40%;right: 0px;}
.business-about-box-content .demo {line-height: 30px;padding-top: 25px;font-size: 14px;}
.all-plans-content h4 {margin-top: 50px;}
.easy-steps.custom-pad .demo {padding: 0px 100px;}
.easy-steps-round h5 {font-size: 19px;}
.all-plans-content-wrap {margin-top: 40px;}
.counter-content ul li:last-child {padding-left: 15px;}
/*Business-packages-inner-fdev-sg*/
}

@media only screen and (max-width: 991.98px) {    
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 80px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.counter-content .count-number-and-unit.secondary-font {font-size: 30px;}
.shopping-experience-content .demo {font-size: 16px;}
.easy-steps.custom-pad .demo {margin-top: 30px;font-size: 15px;line-height: 30px;}
.easy-steps-round {margin-top: 60px;}
.shopping-experience-content .demo {padding-top: 35px;font-size: 14px;line-height: 36px;}
.all-plan-box {min-height: 240px;}
.all-plan-box:hover .all-plans-content img {height: 65px;}
.shopping-experience.custom-pad {padding: 80px 0 80px 0;}
.shopping-experience-img-box-2 img {height: 205px;}
.business-about-box {padding: 60px 25px;min-height: 450px;margin-top: 20px;}
.counter-content ul li img {height: 30px;}
.shopping-experience-img-box-1 img {width: 85%;}
.shopping-experience-img-box-2 img {width: 40%;right: 0px;}
.business-about-box-content .demo {line-height: 30px;padding-top: 25px;font-size: 14px;}
.all-plans-content h4 {margin-top: 50px;}
.easy-steps.custom-pad .demo {padding: 0px 0px;}
.easy-steps-round h5 {font-size: 19px;}
.all-plans-content-wrap {margin-top: 40px;}
.counter-content ul li:last-child {padding-left: 15px;}
.counter-content {padding: 10px 0;}
.shopping-experience-content {margin-top: 100px;}
.all-plans-content-wrap {flex-direction: column;}
.all-plan-box {width: 100%;margin-top: 20px;}
.all-plan-box:hover {transform: scale(1.01);}
.all-plans-content-wrap-2 {flex-direction: column;}
.all-plans-content-wrap-2 {margin-top: 0px;}
/*Business-packages-inner-fdev-sg*/
}

@media (max-width: 767.98px){
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 70px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.business-about-box {min-height: 390px;}
.counter-content {padding: 14px 0;text-align: center;}
.shopping-experience-content .demo {padding-top: 25px;line-height: 30px;}
.shopping-experience.custom-pad {padding: 60px 0 60px 0;}
.easy-steps.custom-pad .demo {font-size: 14px;line-height: 26px;}
.easy-steps-round {margin-top: 40px;}
.all-plans-content-wrap {margin-top: 15px;}
/*Business-packages-inner-fdev-sg*/
}

@media (max-width: 575.98px){
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 60px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.business-about-box {min-height: 370px;}
.shopping-experience-img-box-2 img {width: 50%;}
.shopping-experience-img-box-1 img {width: 95%;}
.shopping-experience-content {text-align: center;}
.shopping-experience-content .demo {padding-top: 15px;font-size: 13px;line-height: 26px;}
.business-about-box-content .demo {line-height: 26px;padding-top: 20px;font-size: 13px;}
.business-about-box-content h4 {padding-top: 35px;}
/*Business-packages-inner-fdev-sg*/
}

@media only screen and (max-width: 480.98px) {	
/*testimonial-inner-fdev-sg*/
.custom-testimonial.inner-testimonial.custom-pad {padding-bottom: 50px;}
/*testimonial-inner-fdev-sg*/
/*Business-packages-inner-fdev-sg*/
.shopping-experience-img-box-1 img {height: 400px;}
.shopping-experience-img-box-2 img {height: 150px;}
.counter-content .count-number-and-unit.secondary-font {font-size: 24px;}
.counter-content ul li:last-child {padding-left: 5px;}
.business-about-box {padding: 40px 25px;}
/*Business-packages-inner-fdev-sg*/
}

/*Inner-page-Responsive-end*/